.*
!/.gitignore
target
build
gradle.properties
proguard-rules.pro
BUCK
keystores
local.properties
Pods
Podfile.lock
Example.xcworkspace
node_modules
*.iml
xcuserdata
/ios/RNCharts.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/ios/RNCharts.xcodeproj/project.xcworkspace/contents.xcworkspacedata
